#titulomayor{
color: red;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    background-image: url("./imagenact/tortuga.png");
    background-size: cover;
}
#tortuga{
    width: 600pt;
    height: 250pt;
    display:block;
    margin:auto;
    
}
#mundo{
    width: 400pt;
   
    float:right;
}   
#mundo1{
   width: 250pt;
    height: 210pt;
    float:left;
} 
#titulostipos{
    color: rgb(17, 247, 158);
    font: oblique bold 120% cursive;
}
#textotipo{
    color: rgb(0, 0, 0);
    text-align: justify;
}
#video1{
    width: 400pt;
    height: 180pt;
    margin-left: 0%;
}
#video2{
    width: 400pt;
    height: 180pt;
    margin-right: 0%;
}
#titulostipos{
    color: rgb(17, 247, 158);
    font: oblique bold 120% cursive;
}

#titulosvideos{
    color: rgb(255, 10, 10);
    font: oblique bold 120% cursive;

}








/* estilo del formulario */
.form{
    position:relative;
    width: 500px;
    height: 500px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: rgb(201, 73, 218);
    border-radius: 20px;
    margin: auto;
}


input[type=text]{
 
    width: 370px;
    height: 25px;
    font: 14px normal;
    padding-left: 100px;

}

textarea{

    width: 470px;
    height: 110px;
    font: 14px normal normal uppercase helvatica, arial, serif;
    font: oblique bold 90% monospace;
}

input[type=submit]{

    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 60px;
    border: 0px;
    background-color: #810d7b;
    font: 14px normal normal uppercase helvatica, arial, serif;

}

input[type=reset]{

    position: relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 60px;
    border: 0px;
    background-color: #8704c4;
    font: 14px normal normal uppercase helvatica, arial, serif;

}

p{
    text-shadow: 0 1px 0 #fff;
    font-size: 24px;
}

label{

    margin: 11px 20px 0 0;
    font-size: 16px;
    color: black;
    text-transform: uppercase;

}